@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

:root {
  --primary: #1f2b37;
  --second: #4f76f6;
  --background: #f9f9f9;
  --four: #77f2a1;
  --five: #11a9f9;
  --six: #3e3e3ea4;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
}

.hidden {
  display: none !important;
}
.show {
  display: grid !important;
}

body {
  width: 100%;
  height: 100vh;
}

#container {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr;
}
/* Menu */
#menu {
  height: 100%;
  padding: 0px 24px;
  background-color: var(--primary);
  color: var(--four);
}
#menu .menu ul {
  display: inline-flex;
  height: 50px;
  gap: 16px;
  align-items: center;
  list-style: none;
}
#menu .menu a {
  text-decoration: none;
  color: var(--four);
  cursor: pointer;
}

#menu .menu {
  display: grid;
  grid-template-columns: 1fr 200px;
}
/* Search */
.search {
  display: grid;
  gap: 8px;
  align-items: center;
  margin: 0 auto;
  width: 80%;
  margin-bottom: 70px;
}
.search h1 {
  font-weight: 300;
  font-size: 2rem;
  color: var(--primary);
}
.search div {
  display: grid;
  grid-template-columns: 1fr 150px;
  gap: 20px;
}
.search button {
  background-color: var(--four);
  border: none;
  color: var(--primary);
  cursor: pointer;
}
.search button:hover {
  transition: 0.6s;
  color: var(--four);
  background-color: var(--primary);
}
.search button,
.search input {
  height: 36px;
  padding: 8px;
}
.search-result h1 {
  margin: 40px 0px;
}
.search-result span {
  font-weight: 300;
  color: var(--second);
}

/* Main */
#main {
  width: 100%;
  margin: 16px auto;
  padding: 8px;
  background-color: var(--background);
}

#content {
  display: grid;
}
#content .content-title {
  display: flex;
  justify-items: center;
  align-items: center;
  gap: 16px;
  margin: 24px;
}
#content .content-title h2 {
  color: var(--primary);
}
#content .content-title img {
  width: 32px;
}
#content .content-title.deezer {
  margin-top: 80px;
}
.playlist-card {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 8px;
  justify-items: center;
}

.playlist-card .card {
  display: grid;
  grid-template-rows: 200px 60px 40px 40px;
  justify-content: center;
  width: 200px;
  min-height: 250px;
}

.playlist-card .card img {
  width: 100%;
}
.playlist-card .card h4 {
  padding: 8px 0px;
}
.playlist-card .card p {
  padding: 5px 0px;
  padding-left: 4px;
  border-left: 4px solid var(--second);
  margin: 8px 0;
  font-size: 12px;
  text-transform: capitalize;
}
.playlist-card .card a {
  text-decoration: none;
  text-align: center;
  padding: 10px 10px;
  background-color: var(--four);
  color: var(--primary);
  font-weight: 600;
  cursor: pointer;
}
.playlist-card .card a:hover {
  background-color: var(--primary);
  color: var(--four);
  transition: 0.9s;
}

/* Playlist */
.header-playlist {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 16px;
}
.header-playlist p {
  color: var(--six);
  font-size: 11px;
}
.header-playlist img {
  width: 60px;
}
.data-playlist {
  display: grid;
  grid-template-rows: auto 45vh 20vh;
}
#section-playlist {
  overflow: auto;
}
#playlist-header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 100px 120px;
  gap: 8px;
  margin-bottom: 8px;
  align-items: center;
  font-size: 12px;
  color: var(--six);
}
#playlist-header p {
  min-width: 120px;
}

#playlist-data {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 8px;
  margin-bottom: 8px;
  align-items: center;
  font-size: 11px;
}
#playlist-data:nth-child(odd) {
  background-color: #fff;
}
#playlist-data .play {
  display: grid;
  grid-template-columns: 50px auto 40px;
  gap: 2px;
  align-items: center;
  min-width: 200px;
}
#playlist-data .play img {
  width: 50px;
}
#playlist-data a {
  width: 90%;
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  padding: 5px 8px;
  background-color: var(--second);
  color: var(--background);
}
#playlist-data .song-title {
  cursor: pointer;
  color: var(--five);
}

audio::-webkit-media-controls-panel {
  background-color: var(--background);
}
audio::-webkit-media-controls-play-button {
  background-color: var(--four);
  border-radius: 50%;
  margin-right: 10px;
}

audio::-webkit-media-controls-play-button:hover {
  background-color: var(--four);
}

.mobile-hidden {
  display: none;
}

/* playmusic */

#playmusic {
  display: grid;
  grid-template-columns: 80px 1fr;
  align-items: center;
  box-shadow: rgba(0, 0, 0, 0.45) 0px -10px 20px -5px;
}

#playmusic img {
  width: 100%;
}
#playmusic p {
  font-size: 13px;
  color: var(--primary);
  padding-left: 20px;
}

#playmusic div {
  display: grid;
  justify-items: center;
}

#playmusic .control {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
}
#playmusic .control button {
  text-align: center;
  text-decoration: none;
  font-size: 12px;
  padding: 5px 8px;
  background-color: var(--second);
  color: var(--background);

  padding: 10px 30px;
  border: 0;
  cursor: pointer;
}
#playmusic .control button:disabled {
  background-color: #f9f9f9;
  color: #eee;
  cursor: not-allowed;
}

#playmusic .song-album {
  color: #3e3e3ea4;
}

/* Compare */
#resume {
  display: flex;
  gap: 40px;
  align-items: center;
  flex-direction: column;
}
#compare {
  padding: 0 30px;
  margin: 0 auto;
}

#compare h1 {
  margin-bottom: 20px;
  color: var(--primary );
  border-left: 4px solid var(--second);
  padding-left: 8px;
}
#count-selected {
  padding: 6px 10px;
  border-radius: 50%;
  background-color: var(--primary);
  color: var(--four);
  text-align: center;
}

#btn-start-compare {
  display: none;
  background-color: var(--five);
  color: var(--background);
  border: 0;
  padding: 10px 20px;
  animation: grow-shrink 2s infinite;
  transition: transform 0.3s ease-in-out;
  cursor: pointer;
}
.btn-compare {
  background-color: var(--primary);
  color: var(--four);
  border: 0;
  padding: 10px 10px;
  cursor: pointer;
  width: 200px;
}
.btn-compare:disabled {
  background-color: var(--background);
  border: 1px solid #cfc9c9;
  color: #cfc9c9;
  cursor: not-allowed;
}
#btn-clear {
  display: none;
  background-color: var(--primary);
  color: var(--four);
  border: 0;
  padding: 10px 10px;
  cursor: pointer;
  width: 200px;
}
@keyframes grow-shrink {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

#compare {
  display: grid;
  grid-template-columns: 1fr 1px 1fr;
  gap: 20px;
}
#compare span {
  border-right: 1px solid  var(--second);
  height: 95%;
  margin: auto 0;
}
 .btn-favorite {
  border: none;
  background-color: transparent;
  color: var(--five);
  cursor: pointer;
}
.btn-favorite:disabled {
  color: #3e3e3ea4;
  cursor: not-allowed;
}
.btn-favorite:disabled::after {
  content: "";
}
 .btn-add:hover {
  color: var(--primary);
}
 .btn-add::after {
  content: " ❤️";
}
 .btn-remove::after {
  content: " 🗑️";
}
.loading {
  display: none;
}

.alert {
  padding: 40px;
  background: var(--primary);
  color: var(--four);
}